categories.text-white.p-4(class="w-[calc(100%-208px)]")
  div.flex.flex-row.font-bold.w-auto.items-center(class="text-[16px]")
    div.text-lg.font-bold.flex.items-center.p-2.ml-1
      span Categories
    if(categories.length)
      button.h-10.ml-auto(class="button-type1" onclick=`window.location.href="/items/new"`) + New Item 
    else
      div.ml-auto
    button.h-10.ml-3.mr-3(class="button-type1" onclick=`window.location.href="/categories/new"`) + New Category 
  div.mt-3.flex.flex-col
    div.mx-3.pb-1.flex.justify-between.border-b-2.w-auto.text-sm(class="border-[#50aaff6c]")
      span.truncate(class="w-[30%]") Name 
      span.truncate(class="w-[30%]") Description
      span.truncate(class="w-[30%]") URL 
      span.truncate(class="w-[10%]")
    div.mx-3
      each category, index in categories 
        div.my-1.flex.justify-between.w-auto.text-sm(class="max-h-[32px] hover:cursor-pointer bg-[#a9afb418] hover:bg-[#64686b57] category-row" data-category-id=category._id onclick=`window.location.href="/categories/${category._id}"`)
          div.p-1.truncate(class="w-[30%]")
            span= category.name
          div.p-1.truncate(class="w-[30%]")
            span= category.description
          div.p-1.truncate(class="w-[30%]")
            span= category.URL
          div.flex.gap-1.items-center(class="w-[10%]")
            form.flex.items-center.ml-auto(action=`/categories/edit/${category._id}` method='POST') 
              input(type="hidden" name="categoryID" value=category._id)
              input.w-5.opacity-30(class="hover:cursor-pointer hover:opacity-100 icon-b-to-w" src='/images/icon_edit.svg' type="image", alt='Icon Edit')
            form.flex.items-center(action="/categories/delete" method='POST') 
              input(type="hidden" name="categoryID" value=category._id)
              input.mx-2.w-5.opacity-30(class="hover:cursor-pointer hover:opacity-100 icon-b-to-w" src='/images/icon_delete.svg' type="image", alt='Icon Edit')

