edit-item.text-white.w-full.p-4
  div.flex.flex-row.font-bold.items-center
    button.h-10.ml-3(class="button-type1" onclick=`window.location.href="/categories/${item.category}"`) Back
  div.mt-3.flex.flex-col  
    form.p-3.text-sm(action="/items/update" method='POST') 
      h4.text-xl.border-b-2.border-gray-500.pb-2  Edit item
      input(type="hidden" name="itemID" value=item._id)
      label.mt-4.flex.h-6.items-center(for="name") 
        span.w-32 Item name: 
        input.border-2.p-1(id="name" type="text" name="itemName" value=item.name class="border-[#50aaff81] bg-[#152e4483] hover:border-[#50ABFF] focus:border-[#50ABFF]" required)
      br
      label.flex.h-6.items-center(for="description") 
        span.w-32 Description: 
        input.border-2.p-1(id="description" type="text" name="itemDescription" value=item.description class="border-[#50aaff81] bg-[#152e4483] hover:border-[#50ABFF] focus:border-[#50ABFF]" required)
      br
      label.flex.h-6.items-center(for="price") 
        span.w-32 Price: 
        input.border-2.p-1(id="price" type="number" name="itemPrice" min="0" step="0.01" value=item.price class="border-[#50aaff81] bg-[#152e4483] hover:border-[#50ABFF] focus:border-[#50ABFF]" required)
      br
      label.flex.h-6.items-center(for="stock") 
        span.w-32 Stock: 
        input.border-2.p-1(id="stock" type="number" name="itemStock" min="0" value=item.stock class="border-[#50aaff81] bg-[#152e4483] hover:border-[#50ABFF] focus:border-[#50ABFF]" required)
      br
      label.flex.h-6.items-center(for="url") 
        span.w-32 URL address: 
        input.border-2.p-1(id="url" type="text" name="itemURL" value=item.URL class="border-[#50aaff81] bg-[#152e4483] hover:border-[#50ABFF] focus:border-[#50ABFF]" required)
      br
      label.flex.h-6.items-center(for="category") 
        span.w-32 Category: 
        select.border-2.p-1(id="category" name="itemCategory" class="border-[#50aaff81] bg-[#152e4483] hover:border-[#50ABFF] focus:border-[#50ABFF]" required)
          each category, index in categories
            if String(item.category) === String(category._id)
              option(value=category._id selected) #{category.name}
            else
              option(value=category._id) #{category.name}
      br
      div.border-t-2.border-gray-500.pt-4
      label(for="submit")
        input.h-8.w-24.text-white(class="button-type2" id="submit" type="submit" value="Submit")